<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>


<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Ideally the rest of our javascript dependencies would be
     bundled and minified with 'browserify', but I've found that
     it difficult to handle browserify dependencies for class
     projects.  So, we'll pick up moment and a date range picker
     from CDNs instead.
-->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


</head>

<body>
<div class="container">

<h1>Free times</h1>

<!--
  -- If there are any warnings or other messages from a prior action,
  -- they appear above the rest of the content, just until the next 
  -- action.
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Date range</h2>
  <form action="/setrange" method="post">
  <input type="text" name="daterange" size="12"
    {% if session.daterange is defined %}
         value="{{session.daterange}}"
    {% endif %}
     class="pull-down"
     style="background: #fff; cursor: pointer; padding: 5px 10px;
     border: 1px solid #ccc; width: 12em" >

  <script type="text/javascript">
  $(function() {
    function load_time_min_input(hh1, min1, hh2, min2) {
      $("#time_input").html("<input type=number name=\"time_input\" id=\"hour1\" value=" + hh1 + " min=\"0\" max=\"23\"  />");
      $("#time_input").append(":");
      $("#time_input").append("<input type=number name=\"time_input\" id=\"min1\" value=" + min1 + " min=\"0\" max=\"59\"  />");
      $("#time_input").append("   ~   ");
      $("#time_input").append("<input type=number name=\"time_input\" id=\"hour2\" value=" + hh2 + " min=\"0\" max=\"23\"  />");
      $("#time_input").append(":");
      $("#time_input").append("<input type=number name=\"time_input\" id=\"min2\" value=" + min1 + " min=\"0\" max=\"59\"  />");

      $("#duration_input").html("<input type=\"number\" name=\"duration_input\" id=\"duration_input\" value=\"30\" min=\"0\" max=\"59\"  /> minute(s)");
    }

    function update_time_range() 
    {
      var result = {}
      $('input[name="time_input"]').each(function(){
        var myself = this
        var myid = myself.id
        var myvalue = myself.value
        if(myvalue < 10) {
          myvalue = '0' + myvalue
        }
        result[myid] = myvalue
      }).promise().done(
          $.ajax({
            type: 'POST',
            contentType: 'application/json',
            url:'_updateTimeRange',
            dataType:'json',
            data:JSON.stringify(result),
            error: function(result) {console.log(result)}
          }))
    }

    var today = new Date();
     
    var yyyy = today.getFullYear();
    var mm = today.getMonth()+1; //January is 0!
    var dd = today.getDate();
    var hh = today.getHours();
    var min = today.getMinutes();
    var secs = today.getSeconds();

    load_time_min_input(hh, min, hh+2, min)
    update_time_range()

  $('input[name="daterange"]').daterangepicker
      (
         {  ranges: 
            {
             'Today': [moment(), moment()],
             'Tomorrow':[moment().add(1, 'days'),
                         moment().add(1, 'days')], 
             'This week':[moment(), moment().endOf('week')],
             'Next week':[moment().add(7, 'days').startOf('week'),
                          moment().add(7, 'days').endOf('week')],
             'This month':[moment(), moment().endOf('month')],
             'Within two weeks':[moment(),moment().add(15, 'days')]
            }
        }
      );

  $("input[name='time_input']").on("input", function(){ 
    update_time_range()
    })

  $('input[name="duration_input"]').on("input", function() {
    var myself = this
    var rslt = {duration: myself.value}
    $.ajax({
        type: 'POST',
        contentType: 'application/json',
        url:'_updateDuration',
        dataType:'json',
        data:JSON.stringify(rslt),
        error: function(result) {console.log(result)}
      })
  })
  })
  </script>

<div><h4>Time range</h4></div>
<div id="time_input" name="time_input"></div>

<div><h4>Meeting duration</h4></div>
<div id="duration_input" name="duration_input"></div>

<br /><input type="submit" value="Choose" />
</form>


    <!--
    Show the calendar list (if we have it).  This will need to be turned into
    a form from which calendars can be picked. Up to three entries are
    shown in each row (but the order is across then down; I would
    prefer down then across). 
    -->
{% if g.calendars is defined  %}
  <div class="row">
  {% for cal in g.calendars %}
          <div class="col-md-4">
          <input type="checkbox" name="cal_selected">
          <label for="cal_selected" hidden>{{ cal.id }}</label>
	   {{ cal.summary }}
          </div>
         {% if loop.index is divisibleby 3 %}
          </div> <div class="row">
         {% endif %}
  {% endfor %}
  </div>
{% endif %}

<script type="text/javascript">
  $(document).ready(function(){

    $("input[name='cal_selected']").on('change', function(){
      var result = {}
      $("input[name='cal_selected']").each(function(){
        var myself = this
        var checked = this.checked
        var id = $(this).next('label').text()
        result[id] = checked
        console.log(result)
      }).promise().done(
      $.ajax({
        type: 'POST',
        contentType: 'application/json',
        url:'_updateSelected',
        dataType:'json',
        data:JSON.stringify(result),
        error: function(result) {console.log(result)}
    }))
  })
  })
</script>
  </div>  <!-- container (for bootstrap) -->
  </body> </html>
